<div style="width:100%;height:30px;font-family:arial;font-size:14px;font-weight:bold;text-align:center;float:left;">OHLÁSENIE O VZNIKU ODPADU A NAKLADANÍ S NÍM</div>
<div style="width:100%;height:30px;float:left;"></div>

<div style="width:25%;float:left;height:160px;font-size:10px;font-family:arial;">
    <div style="width:70px;float:left;height:20px;">Typ dokladu</div>
    <div style="width:50px;float:left;border:1px solid #000;text-align:center;">P</div>

    <div style="width:70px;float:left;height:20px;">Za rok</div>
    <div style="width:50px;float:left;border:1px solid #000;text-align:center;">'.$rok.'</div>

    <div style="width:70px;float:left;height:20px;"></div>
    <div style="width:50px;float:left;text-align:center;">&nbsp;</div>

    <div style="width:70px;float:left;height:20px;">List č.</div>
    <div style="width:50px;float:left;border:1px solid #000;text-align:center;">'.$i.'</div>

    <div style="width:70px;float:left;height:20px;">Počet listov.</div>
    <div style="width:50px;float:left;border:1px solid #000;text-align:center;">'.$strany.'</div>



</div>

<div style="width:74.5%;float:left;height:160px;border:1px solid #000;font-size:10px;">
    <div style="width:100%;height:20px;text-align:center;border-bottom:1px solid #000;line-height:20px;">VYPLNÍ ÚRAD</div>
    <div style="width:50%;float:left;height:140px;border-right:1px solid #000">
        <br>
        &nbsp;&nbsp;Pečiatka úradu
    </div>
    <div style="width:49%;float:left:height:140px;">
        <br>
        &nbsp;&nbsp;Evidenčné číslo: <br>
        &nbsp;&nbsp;Dátum doručenia: <br><br>
        &nbsp;&nbsp;Doklad za úrad overil:
    </div>
</div>

<br><br>
<div style="width:100%;height:200px;float:left;border:1px solid #000;font-size:10px;font-family:arial;">

    <div style="width:100%;height:20px;border-bottom:1px solid #000;line-height:20px;">
        <div style="width:100px;height:20px;float:left;">&nbsp;ORGANIZÁCIA</div>
        <div style="width:100px;height:20px;float:left;margin-left:200px;">&nbsp;IČO '.$ico.'</div>
        <div style="width:100px;height:20px;float:left;margin-left:180px;">&nbsp;Prevádzkareň/Závod</div>
    </div>

    <div style="width:50%;float:left;height:220px;border-right:1px solid #000">
        <div style="width:100%;height:25px;float:left;border-bottom:1px solid #000">
            &nbsp;Obchodné meno:<br>
            &nbsp; <b>'.$company.'</b>
        </div>

        <div style="width:100%;height:60px;float:left;border-bottom:1px solid #000;line-height:18px;">
            &nbsp;Adresa:<br>
            &nbsp;Ulica: <b>'.$adresa.'</b><br>
            &nbsp;Obec: <b>'.$mesto.'</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PSČ: <b>'.$psc.'</b>
        </div>

        <div style="width:100%;height:60px;float:left;line-height:18px;">
            &nbsp;Štatutárny orgán<br>
            &nbsp;Meno: <b></b><br>
            &nbsp;Telefón: <b></b> <br>
            &nbsp;Email: <b></b>
        </div>

        <div style="width:100%;height:40px;float:left;border-top:1px solid #000;"><br>
            <div style="width:200px;float:left;">
                &nbsp;Dátum podpisu:<br><br>
            </div>
            <div style="width:80px;float:right;margin-right:60px;margin-top:35px;">Pečiatka a podpis</div>
        </div>


    </div>
    <div style="width:49.8%;float:left;height:220px;">
        <div style="width:100%;height:25px;float:left;border-bottom:1px solid #000">
            &nbsp;Názov:<br>
            &nbsp; <b>'.$prevadzkanazov.'</b>
        </div>
        <div style="width:100%;height:60px;float:left;border-bottom:1px solid #000;line-height:18px;">
            &nbsp;Adresa:<br>
            &nbsp;Ulica: <b>'.$prevadzkaulica.'</b><br>
            &nbsp;Obec: <b>'.$prevadzkaobec.'</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PSČ: <b>'.$prevadzkapsc.'</b>
        </div>

        <div style="width:100%;height:60px;float:left;line-height:18px;">
            &nbsp;Štatutárny orgán<br>
            &nbsp;Meno: <b></b><br>
            &nbsp;Telefón: <b></b> <br>
            &nbsp;Email: <b></b>
        </div>


        <div style="width:100%;height:40px;float:left;border-top:1px solid #000;"><br>
            &nbsp;Dátum podpisu:<br><br><br></div>

        <div style="width:80px;float:right;margin-right:60px;margin-top:23px;">Pečiatka a podpis</div>
    </div>

</div>


</div>

<br><br>
<div style="width:100%;height:30px;float:left;border:1px solid #000;line-height:30px;font-family:tahoma;font-size:12px;">
    &nbsp;OPIS ZARIADENIA NA ZHODNOCOVANIE/ZNEŠKODŇOVANIE ODPADOV
</div>
<div style="width:100%;height:60px;float:left;border:1px solid #000;font-size:10px;"><br>
    <div style="width:100px;margin-left:10px;float:left;">Číslo rozhodnutia</div><div style="width:300px;height:20px;border:1px solid #000;float:left;"></div><br><br>
    <div style="width:100px;margin-left:10px;float:left;">Kód nakladania</div><div style="width:300px;height:20px;border:1px solid #000;float:left;"></div><br>
</div>
<div style="width:100%;height:30px;float:left;border:1px solid #000;line-height:30px;font-family:tahoma;font-size:12px;">
    &nbsp;Názov technológie:
</div>
<div style="width:100%;height:80px;float:left;border:1px solid #000;font-size:10px;"><br>
    <div style="width:100px;margin-left:10px;float:left;">Rok začatia prevádzky</div><div style="width:300px;height:20px;border:1px solid #000;float:left;"></div><br><br>
    <div style="width:100px;margin-left:10px;float:left;">Kapacita zariadenia</div><div style="width:300px;height:20px;border:1px solid #000;float:left;"></div><br><br>
    <div style="width:100px;margin-left:10px;float:left;">Hmotnosť odpadu (t/rok)</div><div style="width:300px;height:20px;border:1px solid #000;float:left;"></div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
<div style="width:100%;border:1px solid #000;font-size:10px;font-family:arial;">

    <div style="width:40px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Por. číslo
    </div>
    <div style="width:110px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Kód odpadu<br> podľa katalógu odpadu</div>
    <div style="width:150px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Názov odpadu<br> podľa katalógu odpadu</div>
    <div style="width:35px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Kateg. odpadu</div>
    <div style="width:20px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Y-kód</div>
    <div style="width:110px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Množstvo odpadu v tonách</div>
    <div style="width:140px;float:left;height:20px;border-right:1px solid #000;text-align:center;">Spôsob nakladania s odpadom<br>Kód | Obch. meno,IČO, Sídlo</div>
    <div style="width:65px;float:left;height:20px;text-align:center;">Poznámka</div>


    '.$polozky.'



</div>
