<table style="font-family:arial;font-size:8px;">
    <tr>
        <td></td>
        <td colspan="71" style="text-align: right">List č. :</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">0</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">0</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">2</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="71" style="text-align: right">Počet listov:</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">0</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">0</td>
        <td colspan="2" style="text-align: center;border: 1px solid black;">2</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="11" style="">Evidenčné číslo:</td>
        <td colspan="3" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="3" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="2" style="text-align: center;border: 1px solid black;"></td>
        <td colspan="44"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="76" style="height:6px;border-bottom: 1px solid black;"> </td>
    </tr>

    <tr>
        <td></td>
        <td style="border-left: 1px solid black"></td>
        <td colspan="29" ><strong>ORGANIZÁCIA</strong></td>
        <td colspan="3" style="text-align:center;">IČO</td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="2" style="text-align:center;border: 1px solid black;"><strong>4</strong></td>
        <td colspan="28" style="text-align:right;border-right: 1px solid black;"><strong>PREVÁDZKÁREŇ / ZÁVOD  </strong></td>
    </tr>
    <tr>
        <td></td>
        <td style="border-left: 1px solid black;border-top: 1px solid black;"></td>
        <td colspan="37" style="border-top: 1px solid black;border-right: 1px solid black;">Obchodné meno:</td>
        <td style="border-top: 1px solid black;border-left: 1px solid black;"></td>
        <td colspan="38" style="border-top: 1px solid black;border-right: 1px solid black;">Názov:</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="4" style="border-bottom: 1px solid black;border-left: 1px solid black;"></td>
        <td colspan="34" style="border-bottom: 1px solid black;border-right: 1px solid black;">KeRa s.r.o.</td>
        <td colspan="4" style="border-bottom: 1px solid black;border-left: 1px solid black;"></td>
        <td colspan="35" style="border-bottom: 1px solid black;border-right: 1px solid black;">Kera store</td>
    </tr>

    <tr>
        <td></td>
        <td colspan="76" style="height: 6px"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="76" style="height: 30px; border-bottom: 1px solid black"></td>
    </tr>

    <tr>
        <td></td>
        <td rowspan="2" colspan="4" style="text-align: center;border: 1px solid black;">Por. <br>číslo</td>
        <td rowspan="2" colspan="12" style="text-align: center">Kód odpadu podľa<br>Katalógu odpadov</td>
        <td rowspan="2" colspan="17" style="text-align: center">Názov odpadu podľa<br>Katalógu odpadov</td>
        <td rowspan="2" colspan="5" style="text-align: center">Kateg.<br>odpadu</td>
        <td rowspan="2" colspan="5" style="text-align: center">Y-kód</td>
        <td colspan="11" style="text-align: center">Hmotnosť odpadu</td>
        <td colspan="19" style="text-align: center">Spôsob nakladania s odpadom</td>
        <td rowspan="2" colspan="3" style="text-align: center;vertical-align: middle;">Pozn.</td>
    </tr>

    <tr>
        <td></td>
        <td rowspan="0" colspan="4" style="text-align: center;border: 1px solid black;"></td>
        <td rowspan="0" colspan="12" style="text-align: center"></td>
        <td rowspan="0" colspan="17" style="text-align: center"></td>
        <td rowspan="0" colspan="5" style="text-align: center"></td>
        <td rowspan="0" colspan="5" style="text-align: center"></td>
        <td colspan="11" style="text-align: center">(v tonách)</td>
        <td colspan="19" style="text-align: center">Kód</td>
        <td colspan="19" style="text-align: center">IČO, obchodné meno, sídlo</td>
        <td rowspan="0" colspan="3" style="text-align: center;vertical-align: middle;"></td>
    </tr>
</table>
