.bg-login-img{
    margin: 0;
    padding: 0;
    background: url("/public/images/background/bg-green_blur_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-404-img{
    background: url("/public/images/404.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.vh-85{
    height: 85vh;
}

.logo-small{
    height: 1em;
}

.bg-gradient-primary {
    background-color: #297332;
    background-image: linear-gradient(180deg,#0c3a0e 10%,#297332 100%);
    background-size: cover;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.btn-primary {
    color: #fff;
    background-color: #297332;
    border-color: #1d5223;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1d5223;
    border-color: #1d5223;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1d5223;
    border-color: #1d5223;
    box-shadow: 0 0 0 0.2rem rgb(79, 105, 87);
}

.w-3em {
    width: 3em;
    margin: 0 0.2em;
}

.w-130 {
    width: 130px;
}

/*custom checkbox switcher*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Signature pad*/
.jay-signature-pad {
    /*position: relative;*/
    display: -ms-flexbox;
    /*-ms-flex-direction: column;*/
    width: 100%; /* 100% */
    height: 100%; /* 100% */
    max-width: 200px; /* 500px */
    max-height: 100px; /* 315px */
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 15px;
    padding: 5px;
}

.txt-center {
    text-align: -webkit-center;
}
